
.o-header-services--b2b .o-header-services__nav-list .o-header-services__nav-link {
  background-color: transparent;
  color: oColorsGetColorFor(o-header-services-b2c-primary-nav, text);

  &:hover,
  &--selected,
  &[aria-selected=true] {
    border-bottom: 4px solid rgba(getColor('black'), .75);
    color: oColorsGetColorFor(o-header-services-b2c-primary-nav, text);
    }
  }
