<header class="o-header-services o-header-services--b2b" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#o-header-drawer" aria-controls="o-header-drawer"><span class="o-header__visually-hidden">Menu</span></a>
		</div>
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/">Syndication Platform</a></h1>
		</div>
	</div>
	<div class="o-header-services__primary-nav">
		<div class="o-header-services__container">
			<ul class="o-header-services__nav-list">
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link o-header-services__nav-link--selected" href="#">
						Contract Details
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="#">
						Downloaded Items
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="#">
						Saved Items
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<div class="o-header__drawer--services o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer="" data-o-header-drawer--no-js="">
	<div class="o-header__drawer-inner">
		<div class="o-header__drawer-tools">
			<span>Syndication Platform</span>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>
		<nav class="o-header__drawer-menu o-header__drawer-menu--primary" role="navigation" aria-label="Primary navigation">
			<ul class="o-header__drawer-menu-list">
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="#">
						Contract Details
					</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="#">
						Downloaded Items
					</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="#">
						Saved Items
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>