<a class="n-skip-link" href="https://www.ft.com/accessibility">Accessibility help</a>
<a class="n-skip-link" href="#site-navigation">Skip to navigation</a>
<a class="n-skip-link" href="#site-content">Skip to content</a>
<a class="n-skip-link" href="#site-footer">Skip to footer</a>

<header id="site-navigation" class="o-header-services o-header-services--b2b" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#o-header-drawer" aria-controls="o-header-drawer"><span class="o-header__visually-hidden">Menu</span></a>
		</div>
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/republishing/contract" data-trackable="masthead">Republishing</a></h1>
		</div>
		<div class="o-header-services__related-content">
			<a class="o-header-services__related-content-link" href="https://www.ft.com/" data-trackable="back-to-ft">< Back to FT.com</a>
		</div>
	</div>
	<div class="o-header-services__primary-nav" data-trackable="main-navigation">
		<div class="o-header-services__container">
			<ul class="o-header-services__nav-list">
				<li class="o-header-services__nav-item">
					<a id="nav-contract" class="o-header-services__nav-link{{#ifEquals route 'contract'}} o-header-services__nav-link--selected{{/ifEquals}}" data-trackable="contract-details" href="/republishing/contract">
						Contract Details
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a id="nav-saved" class="o-header-services__nav-link{{#ifEquals route 'save'}} o-header-services__nav-link--selected{{/ifEquals}}" data-trackable="saved-items" href="/republishing/save">
						Saved Items
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a id="nav-download" class="o-header-services__nav-link{{#ifEquals route 'download'}} o-header-services__nav-link--selected{{/ifEquals}}" data-trackable="downloaded-items" href="/republishing/download">
						Downloaded Items
					</a>
				</li>
				{{#if user}}{{#if user.allowed.spanish}}
				<li class="o-header-services__nav-item">
					<a id="nav-spanish" class="o-header-services__nav-link{{#ifEquals route 'spanish'}} o-header-services__nav-link--selected{{/ifEquals}}" data-trackable="spanish-articles" href="/republishing/spanish">
						Artículos en español
					</a>
				</li>
				{{/if}}{{/if}}
			</ul>
		</div>
	</div>
</header>
